@import url(./fonts.css);
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif;
  list-style-type: none;
  text-decoration: none;
}
body {
  background-color: #fefae0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
}
main {
  padding: 10px 20px;
}
.textTitle {
  text-align: center;
  color: #343a40;
  border-bottom: 2px solid #2a9d8f;
  font-size: 75px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #343a40;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar li {
  margin: 10px 20px;
}
.name {
  font-size: 25px;
  border-bottom: 2px solid #2a9d8f;
  margin: 30px 40px auto;
  width: 200px;
  align-self: flex-start;
  letter-spacing: 1px;
}
.btn {
  margin: 5px;
  padding: 3px;
  cursor: pointer;
}

.btn.btn-menu {
  color: #343a40;
  margin: 0 5px;
  background-color: #fefae0;
  letter-spacing: 2px;
}
.btn.btn-menu:hover {
  border-bottom: 2px solid #2a9d8f;
}

.textBox {
  height: auto;
  color: #343a40;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textBox h1 {
  font-size: 80px;
  letter-spacing: 3px;
}
.textBox h3 {
  margin-top: -10px;
  font-size: 18px;
}
.icons {
  margin: 50px 0;
  width: 50px;
  float: left;
}
.icons svg {
  height: 45px;
  width: 45px;
  margin: 5px;
}
.boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 300px;
  margin: 20px;
  background: #d8e2dc;
  border-radius: 20px;
  overflow: hidden;
  text-align: justify;
}
.imageBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box .text {
  color: #2a9d8f;
  font-size: 35px;
  text-shadow: 0.1px 4px 7px #2a9d8f;
}
.sobre,
.contato {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-sobre,
.box-contato {
  width: 950px;
  margin: 25px;
  justify-content: space-around;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
}
.box-font {
  font-size: 35px;
  color: #2a9d8f;
}
.form {
  display: flex;
  flex-direction: column;
}
.field {
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
  width: 400px;
}
.input-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-field .field {
  width: 185px;
}

textarea {
  min-height: 100px;
  min-width: 400px;
}
.btn.btn-up {
  border-radius: 50%;
  margin: -100px 10px;
  float: right;
  border-radius: 50%;
}
.btn.btn-up:hover {
  opacity: 80%;
}
.footer {
  display: flex;
  background-color: #2a9d8f;
  margin: 0;
  padding: 0;
}
