* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header {
  display: flex;
  position: fixed;
  width: 100vw;
  padding: 10px 30px;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f5f3f4;
}
.header ul {
  display: flex;
}
.header ul li a {
  margin: 5px;
  color: #003566;
}

.main {
  background-color: #f0efeb;
}
.align {
  margin: 15px auto;
}
.home {
  height: 90vh;
  background-color: #d8e2dc;
}
.home .title {
  margin: 50px auto 20px;
  text-shadow: 2px 2px 3px #a2d2ff;
}
.home span {
  font-size: 30px;
  text-shadow: 2px 2px 3px #a2d2ff;
}
.icon {
  width: 50px;
  height: 50px;
  text-align: end;
}
.font {
  text-align: center;
  padding: 40px 20px;
  margin: 0 auto;
  color: #003566;
}
.title {
  font-size: 80px;
  margin: 40px 20px;
}
.font-size {
  font-size: 40px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.container div {
  height: 200px;
  width: 200px;
  border: 2px solid #a2d2ff;
  margin: 5px;
  text-align: center;
}
